In [ ]:
'hello'

In [ ]:
print('Happy Ramadan','Mujtaba Ahmad Yusuf',sep=' & ', end=' | ')

In [ ]:
name = 'Mujtaba Ahmad Yusuf'
print(name)

age =2+1
print(age)

id(name)
# id(age)

In [ ]:
import sys
sys.getsizeof(name)

Global VS Local

In [ ]:
name = 'tuhinjamal'
def getName():
        global occuption  
        occuption = 'engineer'
        print('name is',name)
        age = 32
        print(age)
getName()

In [ ]:
print('occupation is ',occuption)
print('age is ',age)

In [ ]:
x = input()
y = input()
x = int (x)
y = int(y)
print(x+y)
type(x)

In [ ]:
import sys
a = int(input('Enter the value of a'))
b = float(input('Enter the value of b'))
print(a+b)
sys.getsizeof(a)
# id(a)

String Methods

In [3]:
data = 'data science science science science science science is fun'
type(data)
data.count('science')
# data.find('fun')
data.find('f',50,55)
# data.find('f',50,56)
data.index('f',1,100)
data.lower()

'data science science science science science science is fun'

In [18]:
data = 'data SCIENCE science science science science science is fun'

data.upper()
data.casefold()
data.capitalize()
data.swapcase()
data.title()
data.islower()
data.isupper()
data.isdigit()
data.encode()
type(data.encode())
data.split()
data.split()[1]
data.center(100)
data.replace('data', 'AI')

'AI SCIENCE science science science science science is fun'

In [19]:
x=100
y=200
z = x+y
print('I have {} Taka'.format(z))

I have 300 Taka

Data Type
there the 8 basic data types 
1.Numaric
    numaric has 3 types of data a.integer b.float c.complex (combination of real and imaginary number like 5+1j)
2.Boolean
    boolean represents True and False (this must have to be written like True | False)
3.Sequence
    sequence has 5 types of data a.list b.tuples c.range d.arrays e.srtings
    these are under the umbrella of sequence because they all maintain order like index
4.Set
    there are 2 types of set a.Frozenset b.set
5.Mapping
    Dictionary
7. Data frame
    a table or a two dimensional array-like structure
8.Binary Types
    a.Memory view b.Byte Array c.Bytes

In [30]:
# numaric
a=7
print(a)
# type conversion , complex to int or float is not possible 
n= float(a)

b=5.5
print(b)
c= 5+1j
print(c)
type(c)
isinstance(n,float)

compNum = complex(input('enter a complex number'))
print(compNum)

7
5.5
(5+1j)

(1+10j)

In [31]:
# boolean
x= True
print(x)
y= False
print(y)

True
False

Sequence

In [40]:
# list
listData = [1,a,[a,b,c],'hello world',True]
print(listData[-3][1])

5.5

In [44]:
# tuple
tupleList= (a,b,c,1,2,3,[x,y,z])
print(tupleList[0:5])

(7, 5.5, (5+1j), 1, 2)

In [52]:
# range 
rangeLength = range(10)
print(rangeLength)
for i in rangeLength:
    print("value of  i = ",i+1)
for j in range(5, 20, 2):
    print(j)
print('---------------')
for k in range(20, 5, -2):
    print(k)

range(0, 10)
value of  i =  1
value of  i =  2
value of  i =  3
value of  i =  4
value of  i =  5
value of  i =  6
value of  i =  7
value of  i =  8
value of  i =  9
value of  i =  10
5
7
9
11
13
15
17
19
---------------
20
18
16
14
12
10
8
6

In [55]:
# array
import array as arr
arrData = arr.array('i',[1,2,3,4,5])
print(arrData)

print('multple string')
strData = '''
hello python
'''
print(strData)

array('i', [1, 2, 3, 4, 5])
multple string

hello python

In [56]:
# set 
setData = {a,b,c,'d','python'}
print(setData)

{'d', 5.5, 7, (5+1j), 'python'}

In [63]:
# dictionary
dictData = {
    'name' : 'python',
    'value' : 1+5
}
print(dictData.keys())
print(dictData.values())

dict_keys(['name', 'value'])
dict_values(['python', 6])

In [76]:
# data frame (pandas)
import pandas as pd
df = pd.read_csv('./dummy.csv')
# print(df)
df.head(2)
# df.info()
# print(df.shape)

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39

In [81]:
# binary types
byte_arr = bytearray('A,B,C,D','utf-8')
print(byte_arr)
print(type(byte_arr))
print(memoryview(byte_arr))
print(memoryview(byte_arr)[0])
mv = memoryview(byte_arr)[0]
mv= 97
print(mv)

bytearray(b'A,B,C,D')
<class 'bytearray'>
<memory at 0x00000132A0926B00>
65
97